[submodule "iproute2"]
	path = iproute2
	url = https://github.com/iproute2/iproute2.git
[submodule "openwrt/libubox"]
	path = openwrt/libubox
	url = https://github.com/openwrt/libubox.git
[submodule "openwrt/ubox"]
	path = openwrt/ubox
	url = https://github.com/openwrt/ubox.git
[submodule "openwrt/libnl-tiny"]
	path = openwrt/libnl-tiny
	url = https://github.com/openwrt/libnl-tiny.git
[submodule "openwrt/ustream-ssl"]
	path = openwrt/ustream-ssl
	url = https://github.com/openwrt/ustream-ssl.git
[submodule "openwrt/docker"]
	path = openwrt/docker
	url = https://github.com/openwrt/docker.git
[submodule "lwip"]
	path = lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "openwrt/openwrt"]
	path = openwrt/openwrt
	url = https://github.com/openwrt/openwrt.git
[submodule "hostap"]
	path = hostap
	url = git://w1.fi/hostap.git
